<h1>Background</h1>
<p>
  My name is Josh. I grew up in a small town doing a lot of
  outdoors type stuff like hunting, fishing, camping, and riding
  quads. But also got into things involving technology
  like computers and video games. I turned into the guy my
  family turned to when they needed help with technology.
  Math was my favorite subject
  in high school with Spanish class coming in second. When I
  got to college I got interested in programming and Philosophy
  classes. I enjoyed the diverse culture and was interested
  in learning about other people's backgrounds and experiences.
  In the summer I worked at my dad's tent rental company all
  through high school and college, setting up and tearing down
  tents, tables, chairs, and other party rental equipment. I
  also worked as a sexton for a couple cemeteries, taking care
  of the grounds and digging graves.
  I started working as a software developer after college for a
  few years. I have a cat and he's almost 4 years old already.
  His name is Lynxy. I'm currently interested in bettering my
  health with better diet, sleep, and exercise habits and also
  getting into meditation. I'm looking for a new job to further
  my development skills, learn new things, and meet new people.
</p>
<h1>Personality</h1>
<p>
  I've always been a problem solver and love gaining knowledge
  on a lot of different topics. My favorite question to ask is,
  "Why?" I like seeing how things
  work and finding ways to make them better or more efficient.
  I'm a logical thinker and I prefer performance and efficiency
  over looks and aesthetics. I have a sense of humor and like
  creating a positive atmosphere with those around me.
  I aim to be an optimistic person. I enjoy
  using my problem solving skills to help others. I tend to
  look at multiple perspectives to get a well rounded view of a
  problem or topic. I'm typically a quiet and reserved person
  but when I get on a topic that I find interesting or exciting
  I can get pretty chatty.
</p>
<h1>Values</h1>
<p>
  Some of my core values include honesty, being helpful to
  others, respect for others and their perspectives,
  being fair, team work, creating a positive atmosphere, being
  optimistic, being kind, and sharing knowledge and expertise
  with others.
</p>
<h1>Work experience</h1>
<p>
  I have over 4 years of professional work experience. I was a
  software developer at d3View, a company that uses a
  data-to-visualization web platform to allow clients
  to visualize their
  data in an automated and easy to use way. My main tasks were
  related to data extraction, manipulating the data into other
  formats that are used to visualize the data, and testing and
  optimizing the extractions. I wrote and optimized various
  algorithms for many different types of data formats as well
  as wrote documentation for the extractors.
</p>
<h1>Education</h1>
<p>
  I have a Bachelor's degree from the University of Michigan in
  Computer Science with a minor in Philosophy: Mind and Meaning.
</p>