<h1>Background</h1>
<p>
  My name is Josh. I grew up in a small town, and with that came doing many
  outdoor activities. I enjoyed hunting, fishing, camping, and riding quads.
  Alongside those activities, I also became interested in things involving
  technology. I had a high interest in computers and video games. Growing
  up, I became the person that my family turned to when they needed help
  with technology.
</p>
<p>
  In terms of education, math was my favorite subject in high school. I
  enjoyed Spanish as well and was a part of my high school’s Spanish club.
  In college, my love for math turned into an interest in computer programming
  and Philosophy logic classes. I started working in one of the dining halls
  on campus and met a lot of friends there. Throughout college overall, I
  enjoyed the diverse culture, and was interested in learning about other
  people’s backgrounds and experiences.
</p>
<p>
  In the summers of both high school and college, I worked at my dad’s tent
  rental company, setting up and tearing down tents, tables, chairs, and
  other rental equipment. I also worked as a sexton for a couple of
  cemeteries. I did work on the grounds, and dug graves. Post college, I
  began working in my field as a software developer for a few years. Somewhere
  in that time I got a kitten, Lynxy, who is now 4 years old. I am currently
  interested in bettering my health with better diet, sleep, exercise habits,
  and meditation.
</p>
<h1>Personality</h1>
<p>
  I've always been a problem solver and love gaining knowledge on a lot of
  different topics. My favorite question to ask is, "Why?" I like seeing how
  things work and finding ways to make them better or more efficient. I'm a
  logical thinker and I prefer performance and efficiency over looks and
  aesthetics. I have a sense of humor and like creating a positive atmosphere
  with those around me. I aim to be an optimistic person. I enjoy using my
  problem solving skills to help others. I tend to look at multiple
  perspectives to get a well rounded view of a problem or topic. I'm
  typically a quiet and reserved person but when I get on a topic that I
  find interesting or exciting I can get pretty chatty.
</p>
<h1>Values</h1>
<p>
  Some of my core values include honesty, being helpful to
  others, respect for others and their perspectives,
  being fair, team work, creating a positive atmosphere, being
  optimistic, being kind, and sharing knowledge and expertise
  with others.
</p>
<h1>Work experience</h1>
<p>
  I have over 4 years of professional work experience. I was a
  software developer at d3View, a company that uses a
  data-to-visualization web platform to allow clients
  to visualize their
  data in an automated and easy to use way. My main tasks were
  related to data extraction, manipulating the data into other
  formats that are used to visualize the data, and testing and
  optimizing the extractions. I wrote and optimized various
  algorithms for many different types of data formats as well
  as wrote documentation for the extractors.
</p>
<h1>Education</h1>
<p>
  I have a Bachelor's degree from the University of Michigan in
  Computer Science with a minor in Philosophy: Mind and Meaning.
</p>
