.project-title {
    * {
        display: inline;
    }

    a {
        text-decoration: underline;
    }
}

.project-image {
    width: 100%;
}

.project-list-item {
    margin-top: 15px;
}

.project-description {
    white-space: normal;
    margin-top: 10px;
}