<div *ngFor='let project of projects' class='project-div'>
    <md-card>
        <md-card-content>
            <div class='project-title'>
                <a [href]='project.link'><h3 class='bold' [innerHTML]='project.title'></h3></a>
                <a [href]='project.repo'><small>Repo</small></a>
            </div>
            <p class='project-description'>
                {{ project.description }}
            </p>
            <div class='project-img-container'>
                <a [href]='project.link'>
                    <img class='project-image' [src]='"assets/images/" + project.img' title='Click to Play'/>
                </a>
            </div>
        </md-card-content>
    </md-card>
</div>