<p>
  718 E. McNeil St.<br>
  Corunna, Michigan 48817<br>
  (989) 323-9178<br>
  <a href='mailto:jafelker4@gmail.com'>jafelker4@gmail.com</a>
</p>

<div class='centered icons'>
  <a class='icon' href='mailto:jafelker4@gmail.com' target='_blank'>
    <span class='fa fa-envelope-square fa-5x'></span>
  </a>
  <a class='icon' href='https://github.com/jafelker' target='_blank'>
    <span class='fa-brands fa-github-square fa-5x'></span>
  </a>
  <a class='icon' href='https://www.linkedin.com/in/jafelker' target='_blank'>
    <span class='fa-brands fa-linkedin fa-5x'></span>
  </a>
</div>
