<p>
  9809 Chesaning Rd.<br>
  Chesaning, Michigan 48616<br>
  (989) 323-9178<br>
  <a href='mailto:jafelker@umich.edu'>jafelker@umich.edu</a>
</p>

<div class='centered'>
    <a class='icon' href='mailto:jafelker@umich.edu'>
        <span class='fa fa-envelope-square fa-5x'></span>
    </a>
    <a class='icon' href='https://github.com/jafelker'>
        <span class='fa fa-github-square fa-5x'></span>
    </a>
    <a class='icon' href='https://www.linkedin.com/in/jafelker'>
        <span class='fa fa-linkedin-square fa-5x'></span>
    </a> 
</div>