<div class='container'>
    <md-card class='app-header-card centered'>
      <h2>Joshua Felker</h2>
    </md-card>
    <md-card>
      <md-card-content>
        <div class='md-tabs-centered-wrapper'>
          <md-tab-group [dynamicHeight]='true' md-stretch-tabs='always'>
            <md-tab label='About'><app-about-me></app-about-me></md-tab>
            <md-tab label='Contact'><app-info></app-info></md-tab>
            <md-tab label='Projects'><app-projects></app-projects></md-tab>
          </md-tab-group>
        </div>
      </md-card-content>
    </md-card>
</div>
